* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: #000;
}
p{
    font-family: Messi
}

@font-face {
    font-family:Messi;
    src: url(Altone\ Trial-Regular.ttf);
}
@font-face {
    font-family:titulo;
    src: url(moon_get-Heavy.otf);
}
.header {
    background: url('fondo 2.png') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-top {
     position: absolute;
    top: 0%;
    /* right: 20px; */
    display: flex;
    padding: 2%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
        width: 100%;
    text-decoration: none;
    border: white
    
}
.logo-header{
    margin-right: 50px;
    padding-top: 2%;
}
.logo-header img{
    max-width: 40%;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
   
    width: 40%;
}
.header-top a{
    text-decoration: none;
    color: white;
    font-family: messi;
}
.header-top a:hover{
    text-decoration: none;
    color: #b2b2b2;
    font-size: 12+0%;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-self: start;
}
.nav ul {
    display: flex;
    gap: 20px;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: messi;
}

.header-content {
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
 text-align: center;
 
}

.header h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: titulo;
}

.header p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.popular-tours {
    padding: 50px 20px;
    background: #205379;
    text-align: center;
}

.popular-tours h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-family: titulo;
}

.tours-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tour-card {
    background: #cecece;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.tour-card:hover {
    background: #205379;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.tour-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tour-card h3 {
    font-size: 1.5rem;
    font-family: messi;
}

.discover {
    padding: 50px 20px;
    background: #111;
    text-align: center;
}

.discover h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: titulo;
}

.discover p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.discover-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.discover-card {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.discover-card:hover{
    background: #83BD45;
}

.discover-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.discover-card h3 {
    font-size: 1.5rem;
    font-family: messi;
}

.discover-card a {
    text-decoration: none;
    color: #fff;
}

.footer {
    background: #000;
    padding: 20px;
    text-align: center;
}

.footer ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
}

.footer ul li img {
    width: 30px;
}

.popular-tours img {
    max-width: 45%;
}

.discover-cards img{
    max-width: 20%;
}


@media screen and (max-width: 640px) { 
    .logo-header{margin-right: 50px;
        padding-top: 4%;
        margin-top: 3%;
        
    }
    .header-top a{
        text-decoration: none;
        padding-right: 50px;
    }
    .header-top a:hover{
        text-decoration: none;
        color: #b2b2b2;
        font-size: 12+0%;
        width: 30px;
    }
    h1{
        size: 30px;
    }
    
   }